{
	"$type": "Form",
	"fields": [
		{
			"$type": "TextBox",
			"size": 400,
			"minLength": 0,
			"maxLength": 150,
			"value": "Example [LocalDateTime]",
			"label": "Analysis Name",
			"required": true,
			"requiredMessage": "Please enter name for your app session.",
			"id": "app-session-name"
		},{
			"$type": "AppResultChooser",
			"size": 250,
			"valueType": "Input",
			"multiselect": "true",
			"label": "App Result(s) with BAM files",
			"required": true,
			"requiredMessage": "Please choose an App Result with BAM files",
			"id": "app-result-id"
		},
		{
			"$type": "ProjectChooser",
			"size": 250,
			"valueType": "Output",
			"allowedPermissions": "owner",
			"label": "Save Results To",
			"required": true,
			"id": "project-id",
			"allowResourceCreation": true,
			"rules": "is-project-owner"
		},
		{
			"$type": "SectionBreak"
		},
		{
			"$type": "FileChooser",
			"size": 250,
			"valueType": "Input",
			"extensionFilters": ".fasta,.fa,.fna",
			"multiselect": false,
			"required": true,
			"label": "Reference file",
			"requiredMessage": "Please choose a file",
			"id": "custom-ref-id"
		},
		{
			"$type": "CheckBox",
			"id": "checkbox-full",

			"choices": [
				{
					"value": 1,
					"label": "Full pipeline (hg19 only)"
				}
			],
            "helpText": "Use full GATK3 Best practices pipeline with base recalibration and filtering variants (slower, but more precise)"
		},
		{
			"$type": "CheckBox",
			"id": "checkbox-lowemit",

			"choices": [
				{
					"value": 1,
					"label": "Emit low quality variant calls"
				}
			],
			"helpText": "Slightly more sensitive, but less precise"
		}
	],
	"rulesets":[
		{
			"$type": "PermissionValidationRule",
			"permissions": "Read",
			"severity": "Error",
			"message": "You do not have read access to the selected sample",
			"id": "sample-reader"
		},
		{
			"$type": "PermissionValidationRule",
			"permissions": "Own",
			"severity": "Error",
			"message": "You aren't the owner of the selected project.",
			"id": "is-project-owner"
		}
	]
}
